<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximingren.CourseSchedule.Dao.CoursePlanDao">
    <resultMap id="BaseResultMap" type="com.ximingren.CourseSchedule.Bean.po.CoursePlan">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="collegeNo" jdbcType="VARCHAR" property="collegeno"/>
        <result column="classNo" jdbcType="VARCHAR" property="classno"/>
        <result column="courseNo" jdbcType="VARCHAR" property="courseno"/>
        <result column="teacherNo" jdbcType="VARCHAR" property="teacherno"/>
        <result column="classroomNo" jdbcType="VARCHAR" property="classroomno"/>
        <result column="classTime" jdbcType="VARCHAR" property="classtime"/>
        <result column="weeksSum" jdbcType="INTEGER" property="weekssum"/>
        <result column="semester" jdbcType="VARCHAR" property="semester"/>
    </resultMap>

    <insert id="insertCoursePlan" parameterType="com.ximingren.CourseSchedule.Bean.po.CoursePlan">
        insert into course_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                semester,
            </if>
            <if test="collegeno != null">
                collegeNo,
            </if>
            <if test="classno != null">
                classNo,
            </if>
            <if test="courseno != null">
                courseNo,
            </if>
            <if test="teacherno != null">
                teacherNo,
            </if>
            <if test="classroomno != null">
                classroomNo,
            </if>
            <if test="weekssum != null">
                weeksSum,
            </if>

            <if test="classtime != null">
                classTime
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="semester != null">
                #{semester,jdbcType=VARCHAR},
            </if>
            <if test="collegeno != null">
                #{collegeno,jdbcType=VARCHAR},
            </if>
            <if test="classno != null">
                #{classno,jdbcType=VARCHAR},
            </if>
            <if test="courseno != null">
                #{courseno,jdbcType=VARCHAR},
            </if>
            <if test="teacherno != null">
                #{teacherno,jdbcType=VARCHAR},
            </if>
            <if test="classroomno != null">
                #{classroomno,jdbcType=VARCHAR},
            </if>
            <if test="weekssum != null">
                #{weekssum,jdbcType=INTEGER},
            </if>
            <if test="classtime != null">
                #{classtime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateCoursePlan" parameterType="com.ximingren.CourseSchedule.Bean.po.ClassTask">
        update course_plan
        set weeksSum = #{weekssum,jdbcType=INTEGER},
            semester = #{semester,jdbcType=VARCHAR}
        where collegeNo = #{collegeno,jdbcType=VARCHAR}
          and classNo = #{classno,jdbcType=VARCHAR}
          and courseNo = #{courseno,jdbcType=VARCHAR}
          and teacherNo = #{teacherno,jdbcType=VARCHAR}
    </update>
    <delete id="deleteAllTable">
        delete from course_plan where 1=1
    </delete>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.ximingren.CourseSchedule.Bean.vo.QueryVO">
        -- 先获取上课计划的班级名、课程名、老师名，教室号、上课时间、上课周数；
        -- 再在这个结果集中找到相应的班级或者课程或者教师的课表
        SELECT
        *
        FROM
        (SELECT
        cop.id,
        cli.className AS classNo,
        coi.courseName AS courseNo,
        tei.teacherName AS teacherNo,
        cli.classNo AS classN,
        coi.courseNo AS courseN,
        tei.teacherNo AS teacherN,
        cop.classroomNo,
        cop.classTime,
        cop.weeksSum,
        cop.collegeNo,
        cop.semester
        FROM
        course_plan cop,
        class_info cli,
        course_info coi,
        teacher_info tei
        WHERE
        cop.classNo=cli.classNo
        AND cop.courseNo=coi.courseNo
        AND cop.teacherNo=tei.teacherNo
        <if test="semester!=null and semester!=''">
            AND cop.semester=#{semester}
        </if>
        <if test="collegeno!=null and collegeno!=''">
            AND cop.collegeNo=#{collegeno}
        </if>
        order by cop.classTime
        )AS temp
        <if test="condition != null">
            WHERE classN LIKE concat("%",#{condition,jdbcType=VARCHAR},"%")
            OR courseN LIKE concat("%",#{condition,jdbcType=VARCHAR},"%")
            OR teacherN LIKE concat("%",#{condition,jdbcType=VARCHAR},"%")
        </if>
        <if test="pageParam != null">
            LIMIT #{pageParam.pageStart},#{pageParam.pageSize}
        </if>
    </select>
</mapper>