<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximingren.CourseSchedule.Dao.CourseInfoDao">
    <resultMap id="BaseResult" type="com.ximingren.CourseSchedule.Bean.po.CourseInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="courseno" jdbcType="VARCHAR" property="courseno" />
        <result column="coursename" jdbcType="VARCHAR" property="coursename" />
        <result column="courseattr" jdbcType="VARCHAR" property="courseattr" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResult">
        select *
        from course_info
    </select>
</mapper>