<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximingren.CourseSchedule.Dao.TeachBuildInfoDao">
    <resultMap id="BaseResultMap" type="com.ximingren.CourseSchedule.Bean.po.TeachBuildInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="teachBuildNo" jdbcType="VARCHAR" property="teachbuildno" />
        <result column="teachBuildName" jdbcType="VARCHAR" property="teachbuildname" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.ximingren.CourseSchedule.Bean.vo.QueryVO">
        SELECT
        id,
        teachBuildNo,
        teachBuildName
        FROM
        teach_build_info
        <if test="condition!=null">
            WHERE teachBuildNo LIKE concat ('%',#{condition},'%')
            OR teachBuildName LIKE concat('%',#{condition},'%')
        </if>
    </select>
</mapper>